.idea
.DS_Store
.Rhistory
.RData
libStatGen
Debug
Release
build
samtools/htslib/
cmake-build-debug*
cmake-build-release*
VerifyBamID
bin/TestGramSVD
bin/TestReadVcf
bin/TestMethylationModel
bin/MethylateTestBam
resource/test/test.methyl.bam
resource/test/test.methyl.bam.bai
*vcf.gz
